html, body {
  height: 100%;
  margin:0;
  padding:0
}

body {
  color: white;
  background: #1b1b1b;
  font-family: 'Raleway', arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  color:white;
  font-family: 'Montserrat', arial, sans-serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 2px;
}

h2, h3, h4 {
  font-weight: 400;
}

p {
  line-height: 1.5em;
}

header {
  position: fixed;
  width:100%;
  box-sizing: border-box;
  top:0;
  padding:10px;
  height: 40px;
  font-size: 1.2em;
  z-index: 20;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

header.active {
  background: black;
  font-size: 1em;
}

header.active .right, header.active .left  {
  color:rgba(105, 214, 130, 1)
}

.logo {
  float:left;
}

.logo a {
  color:white;
  display: inline-block;
  position: relative;

}
.logo a:hover {
  color:white;
}



.logo span {
  position: relative;
  transition: right .3s ease-in-out, left .3s ease-in-out;
  -webkit-transition: right .3s ease-in-out, left .3s ease-in-out;
  display: inline-block;
}

.left {
  left:-4px;
}

.right {
  right:-4px;
}

.logo a:hover .right {
  right:-9px
}

.logo a:hover .left {
  left:-9px
}

nav {
    float:right;
}

.mobile-nav {
  display: none;
}

.nav-list a {
  color:white;
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.nav-list a:hover {
  color: rgba(105, 214, 130, 1);
  padding-bottom: 8px;
  border-bottom: rgba(105, 214, 130, 1) 3px solid;
}

.logo {
  margin-left: 20px;
}

/*Intro Section*/


#intro {
  display:flex;
  position: relative;
  background: url('../img/computer-bg.jpg');

}

.main-overlay {
  background:rgba(26, 53, 45, 0.78);
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.tagline {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 1em;
  color:white;
  font-size:4.5em;
  display: inline-block;
}

.typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

.sub-intro {
  margin: 0;
  color:transparent;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.icons a {
  font-size: 2.2em;
  color:transparent;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  display: inline-block;
  margin:0 2.5px;
}

.show-color .icons a:hover {
  color:rgba(105, 214, 130, 1);
}

.sub-intro.show-color, .show-color .icons a  {
  color:white;
}

.intro-content {
  text-align: center;
  margin:auto;
  position: relative;
  z-index: 2;
}

/*Main section common styles*/

.main-section {
  padding:100px;
}


/*About Section*/

#about {
  background: #1b1b1b;
  display: flex;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
}

.about-title {
  flex: 1 0 100%;
}

.about-content > p {
    flex: 1 1;
    order:2;
}

.image-holder {
  margin-left: 70px;
  position: relative;
  flex: 1 1;
  order:3;
}

.section-head {
  font-size:3em;
  margin-top: 0;
}



.image-holder img {
  border-radius: 50%;
  width:400px;
}

.divider {
  display: block;
  margin: 30px 0;
  width: 100px;
  height: 6px;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Skills Section*/

#skills {
  background-image: url('../img/city.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.skills-content {
  z-index: 2;
  width:100%;
}

.skills-wrapper {
  display: flex;
  max-width: 1060px;
  margin: auto;
}

.skills-wrapper h4 {
  font-size: 2.2em;
  text-align: center;
}

.skills-wrapper h4 i {
  font-size: 1.3em;
  margin-right: 10px;
}

.skills-wrapper ul {
  display: flex;
  flex-flow: row wrap;
}

.skills-wrapper ul > li {
  width: 50%;
  font-size: 1.3em;
}

.black-overlay {
  background:rgba(26, 53, 45, 0.78);
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


.skills-wrapper > * {
  flex: 1 0;
  text-align: center;
  box-sizing: border-box;
}

.skills-wrapper > div:first-of-type {
  border-right: solid rgba(255, 255, 255, 0.32) 1px;
}

/*Portfolio*/

.portfolio-item {
  display:flex;
  margin-bottom: 50px;
}

.project-img {
  flex:2;
}
.project-img img {
  border-radius:8px;
  max-width: 100%;
}

.project-info {
  flex:1;
  padding-left: 30px;
}

.project-info h2 {
  margin-top:0;
}

.project-info .button {
  margin-bottom: 4px;
}

.project-techs {
  margin-top: 15px;
}

.project-techs p {
  display:inline-block;
  padding:4px 8px;
  background: rgba(218, 218, 218, 0.13);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .6em;
  border-radius: 8px;
}

.button {
  display: inline-block;
  padding:5px 10px;
  color: rgba(105, 214, 130, 1);
  border: rgba(105, 214, 130, 1) 1px solid;
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.button:hover {
  color: white;
  background: rgba(105, 214, 130, 1);
}

/*Contact*/

#contact {
  position: relative;
  /*background: rgba(14,14,14,1);*/
}

.contact-content {
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.contact-content .divider {
  margin: auto;
  margin-bottom: 25px;
}

.contact-content form {
    margin: auto;
    width: 600px;
    max-width: 100%;
}

input.button {
  background: transparent;
  font-size: 1.5em;
  margin-top: 15px;
}

/*Contact*/

#thank-you {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.thank-you-content h1 {
  font-size: 4em;
  margin: 0 auto;
}
.thank-you-content i {
  font-size: 8em;
}


/*Footer*/
footer {
  text-align: center;
  padding:40px;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .icons a {
  color:white;
}

footer .icons a:hover {
  color:#1a5f51;
}

/*Mobile*/

@media only screen and (max-width: 1000px) {

  .about-content > p {
      flex: 1 1;
      order:3;
  }

  .image-holder {
    margin-left: 0;
    text-align: center;
    flex: 1 1 100%;
    order:2;
  }

}

@media only screen and (max-width: 860px) {

  .main-section {
    padding: 9%;
  }

  .skills-wrapper {
    flex-wrap: wrap;
  }

  .skills-wrapper > * {
    flex: 1 0 100%;
  }

  .skills-wrapper > div:first-of-type {
    border-right: none;
    border-bottom: solid rgba(255, 255, 255, 0.32) 1px;
    padding-bottom: 20px;
  }

}

@media only screen and (max-width: 780px) {

  .portfolio-item {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .portfolio-item::before {
    content: "";
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 6px;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .portfolio-item:first-of-type::before {
    content: none;
  }

  .project-img {
    flex:1 1 100%;
    margin-bottom: 15px;
  }

  .project-info {
    flex:1 1 100%;
    padding-left: 0;
  }

}

@media only screen and (max-width: 500px) {
  .image-holder img {
      max-width: 100%;
  }
  .tagline {
    width:98%;
    margin: auto;
  }
}
